/*
      www.OnlineWebFonts.Com 
      You must credit the author Copy this link on your web 
      <div>Font made from <a href="http://www.onlinewebfonts.com/fonts">Web Fonts</a>is licensed by CC BY 4.0</div>
      OR
      <a href="http://www.onlinewebfonts.com/fonts">Web Fonts</a>

      CSS rules to specify fonts

      font-family: "Futura Bk BT Book";;

*/

@font-face {
    font-family: "Futura Bk BT Book";
    src: url("https://db.onlinewebfonts.com/t/cc84650569fd07dac022c55b20c66e46.eot");
    src: url("https://db.onlinewebfonts.com/t/cc84650569fd07dac022c55b20c66e46.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/cc84650569fd07dac022c55b20c66e46.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/cc84650569fd07dac022c55b20c66e46.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/cc84650569fd07dac022c55b20c66e46.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/cc84650569fd07dac022c55b20c66e46.svg#Futura Bk BT Book")format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}